@using Radzen.Blazor
@inherits Saweat.Web.Public.Layouts.HomeLayoutComponent
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <ChildContent>
        <RadzenHeader>
            <ChildContent>
                <div class="row justify-content-start align-items-center">
                    <div class="col-md-6 d-flex align-items-center" style="padding-left: 30px">
                        @if (Restaurant != null)
                        {
                            <RadzenImage style="max-height:100px; padding: 6px;" Path="@Restaurant.Photo"/>
                        }
                    </div>
                    <div class="col-md-6 text-lg-right">
                        <RadzenMenu style=@("height: 50px; flex: auto")>
                            <ChildContent>
                                <RadzenMenuItem Text="Home" Path="home" Icon="home" />
                                <RadzenMenuItem Text="Noticias" Path="news" Icon="message" />
                                <RadzenMenuItem Text="Carta" Path="food-plates" Icon="restaurant_menu" />
                                <RadzenMenuItem Text="Mis Reservas" Path="my-bookings" Icon="today" />
                            </ChildContent>
                        </RadzenMenu>
                    </div>
                </div>
            </ChildContent>
        </RadzenHeader>
        <RadzenBody @ref="body0" style="margin-left: 0px; margin-left: 15%; margin-right: 15%;">
            <ChildContent>
                <RadzenContentContainer Name="main">
                    @Body
                </RadzenContentContainer>
            </ChildContent>
        </RadzenBody>
        <RadzenFooter>
            <ChildContent>
                <RadzenLabel Text="Saweat.Web.Public, Copyright Ⓒ 2022">
                </RadzenLabel>
            </ChildContent>
        </RadzenFooter>
    </ChildContent>
</RadzenLayout>