@using Radzen.Blazor
@using Microsoft.AspNetCore.Components.Authorization
@inherits Saweat.Web.Admin.Layouts.MainLayoutComponent
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <ChildContent>

        <AuthorizeView>
            <Authorized>
                <RadzenHeader>
                    <ChildContent>
                        <div class="row justify-content-start align-items-center">
                            <div class="col-6 d-flex align-items-center">
                                <RadzenSidebarToggle Click="@SidebarToggle0Click"></RadzenSidebarToggle>
                                <RadzenImage Path="assets/images/Saweat-logo-1.png" Style="max-height:55px; padding: 6px;"/>
                            </div>
                            <div class="col-6 text-right">
                                <AccessControl />
                            </div>
                        </div>
                    </ChildContent>
                </RadzenHeader>
            </Authorized>
        </AuthorizeView>
        <RadzenBody @ref="body0">
            <ChildContent>
                <RadzenContentContainer Name="main">
                    @Body
                </RadzenContentContainer>
            </ChildContent>
        </RadzenBody>
        <AuthorizeView>
            <Authorized>
                <RadzenSidebar @ref="sidebar0">
                    <ChildContent>
                        <RadzenPanelMenu style="height: 100%">
                            <RadzenPanelMenuItem Icon="dashboard" Text="Dashboard" Path="dashboard"/>
                            <RadzenPanelMenuItem Icon="restaurant_menu" Text="Platos / Productos" Path="food-plates"/>
                            <RadzenPanelMenuItem Icon="today" Text="Reservas" Path="bookings" />
                            <RadzenPanelMenuItem Icon="message" Text="Noticias" Path="news" />
                            <RadzenPanelMenuItem Icon="settings" Text="Configuracion">
                                <RadzenPanelMenuItem Path="restaurant-profile" Text="Restaurante" />
                                <RadzenPanelMenuItem Path="allergens" Text="Alergenos" />
                            </RadzenPanelMenuItem>
                        </RadzenPanelMenu>
                    </ChildContent>
                </RadzenSidebar>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <RadzenFooter>
                    <ChildContent>
                        <RadzenLabel Text="Saweat Ⓒ 2022">
                        </RadzenLabel>
                    </ChildContent>
                </RadzenFooter>
            </Authorized>
        </AuthorizeView>
    </ChildContent>
</RadzenLayout>