@page "/my-bookings"
@layout HomeLayout

<RadzenHeading Size="H1" Text="Mis Reservas" />

<div class="row">
    <div class="col-md-12 col-xl-6">
        <RadzenCard>
            <AddBooking />
        </RadzenCard>
    </div>
    <div class="col-md-12 col-xl-6">
        <RadzenCard>
            <RemoveBooking />
        </RadzenCard>
    </div>
</div>
@code {

}
